* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

html {
  /*rem root default font-size is 16,16*62.5% = 10 px; 1rem=10px*/
  font-size: 62.5%;
}

html body #root .App {
  min-height: 100vh;
  box-sizing: border-box;
}

/*Content wider than screen*/
/* html,
body {
  max-width: 100%;
  overflow-x: hidden;
} */
/* body {
  margin: 0;
} */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding-bottom: 10rem;
}

.dark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.ant-modal-content {
  background-color: var(--bg-primary) !important;
  border-radius: 25px !important;
  padding: 32px 26px !important;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 60%), 0 3px 6px -4px rgb(0 0 0 / 12%),
    0 9px 28px 8px rgb(0 0 0 / 50%) !important;
}

@import url("./colors.css");
